@import "./variables";

@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin sectionContainer() {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 8rem 0;
  .hide {
    position: absolute;
    left: -999rem;
  }
  .front {
    width: 80%;
    min-height: 70vh;
  }
}
