@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap");

// color
$font-color: #1a202c;
$dark-color: #1a1a1a;
$basic-color: #f7fafc;
$point-color: #2b6cb0;

// gray: #4a5568
// orange: #c05621
// red: #c53030;
// blue: #2b6cb0
// yellow: #b7791f
// green: #38a169;
// teal: #319795;
// indigo: #5a67d8;
// purple: #805ad5;
// pink: #d53f8c;

// font-family
$base-font: "Nanum Gothic", sans-serif;
$logo-font: "Dancing Script", cursive, sans-serif;
$markdown-font: "Nanum Myeongjo", serif;
$top-font: "Nanum Brush Script", cursive, sans-serif;

// font-size
$font-large: 5rem;
$font-medium: 2.5rem;
$font-default: 1.8rem;
$font-small: 1.2rem;
