@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

// color
$font-color: #1a202c;
$dark-color: #1a1a1a;
$basic-color: #f7fafc;
$point-color: #2b6cb0;

// gray: #4a5568
// orange: #c05621
// red: #c53030;
// yellow: #b7791f
// blue: #2b6cb0

// font-family
$base-font: "Nanum Gothic", sans-serif;
$logo-font: "Dancing Script", cursive, sans-serif;

// font-size
$font-large: 5rem;
$font-medium: 2.5rem;
$font-default: 1.8rem;
$font-small: 1.2rem;
