@import "static/styles/variables";
@import "static/styles/mixins";

.container {
  @include sectionContainer();
  @include center();
  background-color: $basic-color;

  .front {
    position: absolute;
    width: 80%;
    height: 70%;
    display: flex;
    flex-flow: row-reverse;

    .info {
      flex: 1;
      border-left: 0.5rem $point-color solid;
      padding-left: 5rem;

      .infoTitle {
        font-size: $font-large;
        font-weight: bold;
        text-align: center;
        margin-bottom: 2em;
      }

      .description {
        font-size: $font-default;
        font-weight: 500;
        line-height: 1.5;
      }
    }

    .content {
      flex: 2;
      padding-right: 5rem;
    }
  }
}
