@import "static/styles/variables";
@import "static/styles/mixins";

$default-top-img: "../../../static/images/top/top2.jpg";

.container {
  @include sectionContainer();
  @include center();
  background-color: $dark-color;

  .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url($default-top-img);
    background-size: cover;
    background-position: center;
    filter: blur(0.5rem);
  }

  .front {
    position: absolute;
    height: 80%;
    border-radius: 1rem;
    background-image: url($default-top-img);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;

    .infoContainer {
      flex: 2;
      @include center();
      flex-direction: column;
      padding: 3rem 10rem;
      font-family: $top-font;
      color: $basic-color;

      .title {
        font-size: $font-large + 2rem;
        margin-bottom: 5rem;
      }

      .description {
        font-size: $font-medium + 1rem;
        line-height: 1.5;
        font-weight: 500;
        letter-spacing: 1rem;
        text-align: center;
        word-break: keep-all;
      }
    }

    .githubContainer {
      flex: 1;
      display: flex;
      justify-content: center;
      color: $basic-color;

      .githubWrap {
        display: flex;
        flex-direction: column;
        align-items: center;

        .githubLink {
          padding: 0.5em 2em;
          font-size: $font-medium;
          border: 0.2rem $dark-color solid;
          border-radius: 1rem;
          background-color: transparent;

          &:hover {
            background-color: $basic-color;
            color: $dark-color;
          }

          .icon {
            margin-right: 2rem;
          }
        }
      }
    }
  }
}
